@charset "UTF-8";

.header {
    width:40%;
    height:100px;
    background-color:#af1b3f;
    margin-left:30%;
}

.navigation {
    width:40%;
    height:50px;
    background-color:#87F5FB;
    margin-left:30%;
}

.content {
    width:40%;
    height:400px;
    background-color:#2a4494;
    margin-left:30%;
}

.footer {
    width:40%;
    height:50px;
    background-color:#777DA7;
    margin-left:30%;
}